/* Horizontal tabs e.g.: Library, Downloads */
/* When scrolling down, and it pins to top  */
ytmusic-tabs.stuck {
    background: $surface !important;
}

ytmusic-tabs > .tab-container {
    yt-formatted-string.tab:not(.selected) {
        color: $subtle !important;
    }

    yt-formatted-string.tab.selected {
        color: $text !important;
    }
}
