/* Song-Video slider */

.av-toggle.ytmusic-av-toggle {
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    background-color: $base !important;
}

.song-button.ytmusic-av-toggle,
.video-button.ytmusic-av-toggle {
    background-color: $base !important;
    color: $subtle !important;
}
.song-button.ytmusic-av-toggle[aria-pressed="true"],
.video-button.ytmusic-av-toggle[aria-pressed="true"] {
    background-color: $overlay !important;
    color: $text !important;
}
